<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div ng-app="chat">
           	<div ui-view></div>
        </div>
        <script src="<%= htmlWebpackPlugin.options.devServer %>"></script>
        <script src="bundle.js"></script>
    </body>
</html>
